*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
font{
    font-family: "Montserrat", sans-serif;
    font-family: "Fraunces", serif;
}
body{
    max-height: 100vh;
    background-color: hsl(30, 38%, 92%);
}
span, h1{
    font-family: "Fraunces", serif;
}
p, .two, button{
    font-family: "Montserrat", sans-serif;
}
main{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 600px;
}
.image1{
    max-width: 300px;
    border-radius: 20px 0 0 20px;
}
.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 20px 20px 0;
    padding: 27px;
}
.paragraph1{
    color:  hsl(228, 12%, 48%);
    font-size: 0.93rem;
    font-weight: 500;
    letter-spacing: 0.3em;
    margin-bottom: 0.9rem;
}
h1{
    font-size: 2.1rem;
    line-height: 2.3rem;
    color: hsl(212, 21%, 14%);
    margin-bottom: 0.7rem;
}
.paragraph2{
    color: hsl(228, 12%, 48%);
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.4rem;
    margin-bottom: 1.7rem;
}
.container2{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.one{
    font-size: 2rem;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}
.two{
    color: hsl(228, 12%, 48%);
    font-size: 0.8rem;
    font-weight: 500;
    margin-left: 1.3rem;
    text-decoration-line: line-through;
}
button{
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    color:  hsl(0, 0%, 100%);
    font-size: 0.94rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;
    padding: 0.9rem;
    border: 1px solid  hsl(0, 0%, 100%);
    border-radius: 7px;
}
.cart{
    width: 1.4rem;
    align-items: center;
    margin-right: 0.4rem;
    color: aliceblue;
}
.image2{
    border-radius: 10px 10px 0 0;
    display: none;
}
@media (max-width: 376px) {
    body{
        height: 100vh;
    }
    main{
        flex-direction: column;
        width: 340px;
    }
    .image1{
        display: none;
    }
    .image2{
        display: block;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .container{
        border-radius: 0 0 10px 10px;
    }
}
@media (max-width: 426px) {
    body{
        height: 100vh;
    }
    main{
        flex-direction: column;
        max-width: 380px;
    }
    .image1{
        display: none;
    }
    .image2{
        display: block;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .container{
        border-radius: 0 0 10px 10px;
    }
}